.container {
    width:100%;
    max-width: 800px;
    margin: auto;
    background-color: aliceblue;
    min-height: 100vh;
    padding: 15px;
 }

.card {
    margin: 15px auto;
    background:#e7f5ff;
    padding:20px;
    box-sizing: border-box;
    width: 98vw;
    max-width: 800px; 
    box-shadow: 5px 5px 20px rgb(65, 65, 65);
    border-radius: 5px;
}
 

.card > *, .container > * {
    padding: 10px;
}

.title {
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    margin:0;
    cursor: pointer;
    color:#402886; 
    transition: color 1s ease-in-out;
}

.title:hover {
    color:#7048e8;
}

.link {
    display: block;
    color:rgb(0, 0, 63);
    margin:10px;
    width: fit-content;
    font-weight: bold;
    padding:10px 0;
    transition: background-color 0.8s ease-in-out, color 0.8s  ease-in-out, transform 0.9s ease-in-out;
    padding: 10px;
    text-transform: uppercase;
    background: #364fc7;
    color: rgb(238, 238, 238);
    border-radius: 6px;
 }
 
.link:hover{
    background: #00126d;
    color: white;
}
  
.link:active{
    transform: scale(0.9);
}

.readingTime { 
    border-left: 5px solid darkblue;
}
 