.title {
    font-size:2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding:20px;
    min-height: 100vh;
    background-color: azure;
    box-shadow: 5px 5px 30px black;
    border-radius: 10px;
}

.img{
    margin:auto   !important;
    display: block  !important;
}