.card {
    background:lightblue;
    padding:10px;
    box-sizing: border-box;
}

.title {
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    padding:0;
    margin:0;
}

.link {
    color:darkolivegreen;
    font-weight: bold;
    padding:10px 0;
    transition: background-color 1s ease-in-out;
 }

.link:hover{
    background: #364fc7;
}