.container {
    border-radius: 6px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, minmax(1fr));
    grid-template-rows: 1fr;
}

.sidebar {
    grid-column: 1 / 3;
    background: #212529;
}

.main {
     grid-column: 3 / 13;
     overflow: scroll;
}

@media screen and (max-width: 900px) {
    .sidebar {
        grid-column: 1 / 4;
    }
    .main {
        grid-column: 4 / 13;
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
         grid-column: 1 / 13;
         max-height: 80px;
    }
    .main {
        grid-column: 1 / 13;
     }
}

.link {
    color:aliceblue;
    cursor: pointer;
}

.active {
    background-color: #495057;
    
}